@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

:root {
    --saturation-factor:1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'Baloo 2', cursive;
    background-color: #36393f;
    color: #fff;
}

body.normal-font {
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#container {
    position: fixed;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

#container #card {
    width: 300px;
    background-color: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    border-radius: 8px;
}

#container #card ._img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1;
}

#container #card ._img ~ #edit_banner {
    position: absolute;
    margin-left: -25px;
    margin-top: 8px;
    opacity: 0;
    transition: opacity .2s;
}

body.own_mode #container #card ._img:hover ~ #edit_banner, body.own_mode #container #card ._img ~ #edit_banner:hover {
    opacity: 1;
    cursor: pointer;
}

#container #card #_av {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right:auto;
    background-image: url('../img/avatar.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 8px solid hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    margin-top: -75px;
    z-index: 2;
}

#container #card #_av ~ #edit_avatar {
    position: absolute;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    pointer-events: none;
    margin-top: -92px;
}

body.own_mode #container #card #_av ~ #edit_avatar .icon {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    pointer-events: auto!important;
    cursor: pointer;
    z-index: 3;
    transition: opacity .2s;
    display: flex;
    opacity: 0;
}

body.own_mode #container #card #_av ~ #edit_avatar .icon:hover {
    opacity: 1;
}

#container #card #_av ~ #edit_avatar .icon i {
    margin: auto;
    font-size: 25px;
}

#container #card #_e1 {
    margin-top: -10px;
    padding: 1rem 16px;
    display: flex;
    width: 100%;
}

#container #card #_e1 #username {
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
}

#container #card #_e1 #username #tag {
    color: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
}

#container #card #_e1 #verified_icon[show="true"] {
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

#container #card #_e1 #verified_icon[show="false"] {
    display: none;
}

#container #card #badge {
    width: 25px;
    height: 25px;
    background-image: url('../img/badge.svg');
    background-size: cover;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

#container #card #badge_tooltip {
    position: absolute;
    background-color: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: -92px;
    margin-top: 65px;
    opacity: 0;
    pointer-events: none;
    transition:opacity .2s;
    font-size: 14px;
}

#container #card #badge_tooltip.show {
    opacity: 1;
    pointer-events: auto;
}

#container #card #badge_tooltip #badge_tooltip_arrow {
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    margin-top: 27px;
    margin-left: -60px;
}

@media (max-width:600px) {
    #container #card #badge_tooltip {
        display: none;
    }
}

#container #card #_e2 {
    padding: 1rem;
}

#container #card #_e2.no_divider {
    margin-top: -10px;
}

#container #card #_e2 #ab_1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: hsl(210,calc(var(--saturation-factor, 1)*2.9%),86.7%);
}

#container #card .divider {
    height: 1px;
    background-color: hsla(217,calc(var(--saturation-factor, 1)*7.6%),33.5%,0.48);
}

#container #card #_e2 #about_me {
    font-weight: 700;
    font-size: 12px;
    color: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
    text-align: center;
}

#container #card #_e3 #social_link {
    font-weight: 700;
    font-size: 12px;
    color: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
    text-align: center;
}

#container #card #_e3.have_divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

#container #card #_e3 #list_social {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#container #card #_e3 #list_social a {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    opacity: 0.8;
    transition: opacity .2s;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

#container #card #_e3 #list_social a:hover {
    opacity: 1;
}

#load {
    background-color: #000000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    opacity: 1;
    transition: opacity .5s;
}

#load.baymau {
    opacity: 0;
    pointer-events: none;
}

#load #load_ani {
    margin: auto;
}

.btn {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    color: #fff;
    border: 0;
    font-family: 'Baloo 2', cursive;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color .3s;
    display: flex;
}

.btn:hover {
    background-color: #000000;
}

.beta_feature {
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.beta_feature::after {
    content: 'BETA';
}