@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

:root {
    --saturation-factor:1;
    --profile-gradient-primary-color: hsl(220,calc(var(--saturation-factor, 1)*6.8%),17.3%);
    --profile-gradient-secondary-color: hsl(220,calc(var(--saturation-factor, 1)*6.8%),17.3%);
    --v: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'Baloo 2', cursive;
    background-color: #36393f;
    color: #fff;
}

/* body.normal-font {
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
} */

#container {
    position: fixed;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

#container #card {
    width: 300px;
    background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 120px,var(--profile-gradient-secondary-color));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#container #card.light-theme {
    --profile-gradient-primary-color:hsl(210,calc(var(--saturation-factor, 1)*11.1%),92.9%);
    --profile-gradient-secondary-color:hsl(210,calc(var(--saturation-factor, 1)*11.1%),92.9%);
    background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 120px,var(--profile-gradient-secondary-color));
}

#container #card.custom.light-theme {
    --p-beta: #ffffff73;
}

#container #card.custom.dark-theme {
    --p-beta: #00000073;
}

#container #card.custom {
    background: var(--p-bg-color);
    border: 4px solid var(--p-b-color);
}

#container #card ._img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1;
}

#container #card.custom ._img {
    border-radius: 4px 4px 0 0;
}

#container #card ._img ~ #edit_banner {
    position: absolute;
    margin-left: -25px;
    margin-top: 8px;
    opacity: 0;
    transition: opacity .2s;
}

#container #card #_av {
    position: relative;
    left: 0;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right:auto;
    background-image: url('https://cdn.discordapp.com/avatars/891995563833315328/0acec0706b858913f43050af635c8748.png?size=1024');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 8px solid var(--profile-gradient-primary-color);
    margin-top: -95px;
    z-index: 2;
    transition: left .3s;
}

#container #card #_av.to-left {
    left: -84px;
}

#container #card.custom #_av {
    border-color: var(--p-bg-color);
}

#container #card #_e_bg {
    background-color: var(--v);
    margin:10px 16px 20px 16px;
    border-radius: 8px;
}

#container #card.light-theme #_e_bg {
    background-color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
}

#container #card.custom #_e_bg {
    background-color: var(--p-beta);
}

#container #card #_e1 {
    padding: 1rem 16px;
    display: flex;
    width: 100%;
}

#container #card #_e1 #username {
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
}

#container #card.light-theme #_e1 #username {
    color: hsl(240,calc(var(--saturation-factor, 1)*7.7%),2.5%);
}

#container #card #_e1 #username #tag {
    color: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
}

#container #card.light-theme #_e1 #username #tag {
    color: hsl(215,calc(var(--saturation-factor, 1)*9.7%),34.3%);
}

#container #card #_e1 #verified_icon[show="true"] {
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

#container #card #_e1 #verified_icon[show="false"] {
    display: none;
}

#container #card .badge {
    display: flex;
    flex-wrap: wrap;
    margin-left:1px;
    margin-right: 1px;
    z-index: 8;
}

#container #card .badges {
    padding: 4px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 12px;
    border-radius: 8px;
    max-width: 85px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--v);
}

#container #card.light-theme .badges {
    background-color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
}

#container #card.custom .badges {
    background-color: var(--p-beta);
}

#container #card .badge #badge_1 {
    width: 23px;
    height: 23px;
    background-image: url('../img/dev_badge.svg');
    background-size: cover;
    margin: auto;
    cursor: pointer;
}

#container #card .badge #badge_2{
    width: 23px;
    height: 23px;
    background-image: url('../img/hypersquad_badge.svg');
    background-size: cover;
    margin: auto;
    cursor: pointer;
}

#container #card .badge #badge_3{
    width: 23px;
    height: 23px;
    background-image: url('../img/nitro_badge.svg');
    background-size: cover;
    margin: auto;
    cursor: pointer;
}

/* #container #card .badge #badge_4{
    width: 23px;
    height: 23px;
    background-image: url('../img/test.svg');
    background-size: cover;
    margin: auto;
    cursor: pointer;
} */

#container #card .badge .badge_tooltip {
    position: absolute;
    background-color: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    border-radius: 8px;
    padding: 5px 10px;
    opacity: 0;
    pointer-events: none;
    transition:opacity .1s, transform .1s;
    font-size: 14px;
    transform: translateX(-50%) scale(0.9);
    margin-top: -55px;
    margin-left: 13px;
    z-index: 9;
    text-align: center;
}

#container #card .badge_tooltip.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) scale(1.05);
}

#container #card .badge_tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%) transparent transparent transparent;
}

#container #card:not(.custom).light-theme .badge .badge_tooltip {
    color: hsl(240,calc(var(--saturation-factor, 1)*7.7%),2.5%);
    background-color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
}

#container #card:not(.custom).light-theme .badge .badge_tooltip::after {
    border-color: hsl(210,calc(var(--saturation-factor, 1)*11.1%),92.9%) transparent transparent transparent;
}

@media (max-width:375px) {
    #container #card .badge_tooltip {
        display: none;
    }
}

#container #card #_e2 {
    padding: 1rem;
}

#container #card #_e2.no_divider {
    margin-top: -10px;
}

#container #card #_e2 #ab_1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: hsl(210,calc(var(--saturation-factor, 1)*2.9%),86.7%);
}

#container #card.light-theme #_e2 #ab_1 {
    color: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
}

#container #card .divider {
    height: 1px;
    background-color: var(--profile-gradient-primary-color);
}

#container #card.light-theme .divider {
    background-color: hsla(180, 35.8%, 31.2%, 0.16);
}

#container #card.dark-theme .divider {
    background-color: hsla(0, 0%, 100%, 0.24);
}

#container #card #_e2 #about_me {
    font-weight: 700;
    font-size: 12px;
    color: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
    text-align: center;
}

#container #card.light-theme #_e2 #about_me {
    color: hsl(240,calc(var(--saturation-factor, 1)*7.7%),2.5%);
}

#container #card #_e3 {
    padding-bottom: 15px;
}

#container #card #_e3 #social_link {
    font-weight: 700;
    font-size: 12px;
    color: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
    text-align: center;
}

#container #card.light-theme #_e3 #social_link {
    color: hsl(240,calc(var(--saturation-factor, 1)*7.7%),2.5%);
}

#container #card #_e3.have_divider {
    margin-top: 20px;
}

#container #card #_e3 #list_social {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#container #card #_e3 #list_social a {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    opacity: 0.8;
    transition: opacity .2s;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

#container #card.light-theme #_e3 #list_social a {
    color: #000000;
}

#container #card #_e3 #list_social a:hover {
    opacity: 1;
}

#load {
    background-color: #000000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    opacity: 1;
    transition: opacity .5s;
}

#load.baymau {
    opacity: 0;
    pointer-events: none;
}

#load #load_ani {
    margin: auto;
}

.btn {
    position: fixed;
    top: 15px;
    background-color: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    color: #fff;
    border: 0;
    font-family: 'Baloo 2', cursive;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color .3s, opacity .3s;
    display: flex;
}

.btn:hover {
    background-color: #000000;
}

.btn:not(.btn-2) {
    right: 15px;
}

.btn.btn-2 {
    padding: 5px 10px;
    left: 15px;
}

.btn.light {
    background-color: hsl(210,calc(var(--saturation-factor, 1)*11.1%),92.9%);
    color: #000000;
}

.btn.light:hover {
    opacity: 0.8;
}

.beta_feature {
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    padding: 0 6px;
    font-weight: 500;
    border-radius: 8px;
    margin-left: 4px;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.beta_feature::after {
    content: 'BETA';
}